body {
  padding: 0;
  margin: 0; }

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 10px !important;
  height: 50px;
  justify-items: center;
  border-bottom: 1px solid #e2e2e2;
  z-index: 10; }
  .nav-bar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .nav-bar .menu span {
      position: relative;
      vertical-align: middle;
      padding: 10px;
      border-radius: 5px;
      margin: 0 20px 0 0; }
      .nav-bar .menu span:hover {
        background-color: #f8f8f8; }
    .nav-bar .menu a {
      font-size: 15px;
      font-family: helvetica, arial, sans-serif;
      color: black;
      font-weight: 550;
      text-decoration: none; }
      .nav-bar .menu a:hover {
        text-decoration: underline; }
  .nav-bar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .nav-bar .logo img {
      height: 35px; }
  .nav-bar .btns {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .nav-bar .btns button {
      color: #fff;
      background-color: #326891;
      border: 0;
      padding: 10px 15px;
      margin: 0 10px 0 0;
      border-radius: 5px;
      font-family: helvetica, arial, sans-serif;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600; }

.main-container {
  border: 1px solid transparent; }
  .main-container .advertisement {
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    padding-bottom: 30px; }
    .main-container .advertisement h6 {
      font-size: 10px;
      color: #c5c5c5;
      font-weight: 200 !important;
      font-family: helvetica, arial, sans-serif; }
    .main-container .advertisement img {
      max-width: 80%;
      max-height: 500px; }
  .main-container .article-content.with-aside {
    position: relative !important; }
    .main-container .article-content.with-aside aside {
      position: absolute;
      right: 0;
      width: 220px;
      margin-right: 100px; }
      .main-container .article-content.with-aside aside .heading {
        font-size: 15px;
        color: black;
        font-weight: bold;
        padding: 10px 0;
        border-bottom: 1px solid #c5c5c5; }
      .main-container .article-content.with-aside aside .aside-list {
        margin-top: 15px; }
        .main-container .article-content.with-aside aside .aside-list .item {
          margin: 5px;
          display: flex; }
          .main-container .article-content.with-aside aside .aside-list .item img {
            width: 70px; }
          .main-container .article-content.with-aside aside .aside-list .item a {
            margin-left: 10px;
            font-size: 14px;
            color: black;
            text-decoration: none; }
            .main-container .article-content.with-aside aside .aside-list .item a:hover {
              text-decoration: underline; }
  .main-container .p-links {
    color: #326891 !important; }
    .main-container .p-links:hover {
      text-decoration: none; }
  .main-container .article-content > div {
    width: 45%;
    /* stylelint-disable */
    /* stylelint-enable */ }
    .main-container .article-content > div p {
      font-size: 1.25rem;
      line-height: 1.875rem;
      font-weight: 500; }
    .main-container .article-content > div .subscribe {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .main-container .article-content > div .subscribe span {
        width: 100px;
        border-bottom: 2px solid #e2e2e2;
        margin: 20px 0; }
      .main-container .article-content > div .subscribe label {
        color: black;
        font-weight: 600; }
      .main-container .article-content > div .subscribe a {
        text-decoration: none;
        color: #326891; }
    .main-container .article-content > div figure {
      margin: 0 !important; }
      .main-container .article-content > div figure iframe {
        width: 100%;
        border: 0;
        height: 400px; }
      .main-container .article-content > div figure figcaption {
        color: #333;
        font-size: 17px; }
        .main-container .article-content > div figure figcaption span {
          color: #6b6666 !important;
          font-size: 15px; }
  .main-container .article-image div {
    width: 70%;
    padding: 0;
    /* stylelint-disable */
    /* stylelint-enable */ }
    .main-container .article-image div figure {
      margin: 0;
      padding: 0;
      width: 100%; }
      .main-container .article-image div figure img {
        width: 100%; }
      .main-container .article-image div figure figcaption {
        font-size: 15px;
        font-family: georgia, "times new roman", times, serif;
        color: #6b6666;
        line-height: 25px; }
        .main-container .article-image div figure figcaption span {
          color: #a3a3a3;
          font-size: 14px; }
  .main-container .article-image.telescop div {
    width: 50% !important; }
  .main-container .conclusion-content {
    padding-bottom: 100px;
    /* stylelint-disable */
    /* stylelint-enable */ }
    .main-container .conclusion-content > div {
      width: 45%;
      margin: 30px 0 0 0; }
      .main-container .conclusion-content > div > div:nth-of-type(1) p {
        color: #6b6666;
        font-size: 13px; }
        .main-container .conclusion-content > div > div:nth-of-type(1) p a {
          text-decoration: underline;
          color: #6b6666; }
          .main-container .conclusion-content > div > div:nth-of-type(1) p a:hover {
            text-decoration: none; }
      .main-container .conclusion-content > div > div:nth-of-type(2) {
        display: flex;
        justify-content: space-between; }
        .main-container .conclusion-content > div > div:nth-of-type(2) .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .main-container .conclusion-content > div > div:nth-of-type(2) .btn button {
            padding: 10px 100px;
            border-radius: 2px;
            color: #fff;
            font-size: 13px;
            font-weight: 500;
            border: none;
            background-color: #326891; }
        .main-container .conclusion-content > div > div:nth-of-type(2) .icons {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row; }
          .main-container .conclusion-content > div > div:nth-of-type(2) .icons span {
            background-color: #eee;
            width: 25px;
            height: 25px;
            padding: 5px;
            margin-left: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row; }
          .main-container .conclusion-content > div > div:nth-of-type(2) .icons img:nth-of-type(1) {
            width: 20px;
            margin-left: 20px; }
          .main-container .conclusion-content > div > div:nth-of-type(2) .icons img:nth-of-type(2) {
            width: 40px;
            margin-left: 20px; }
  .main-container .more-readings {
    width: 75%;
    display: grid;
    grid-template-columns: 70% 30%; }
    .main-container .more-readings .headers {
      margin: 0 15px;
      padding: 25px 0 15px 0;
      border-top: 3px solid black;
      /* stylelint-disable */
      /* stylelint-enable */ }
      .main-container .more-readings .headers a {
        text-decoration: none;
        color: black;
        font-size: 19px;
        font-weight: 700; }
      .main-container .more-readings .headers span {
        text-decoration: none;
        color: black;
        font-size: 19px;
        font-weight: 700; }
    .main-container .more-readings .readings-left {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%; }
      .main-container .more-readings .readings-left .item-container {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        /* stylelint-disable */
        /* stylelint-enable */ }
        .main-container .more-readings .readings-left .item-container figure {
          width: 100%;
          margin: 0; }
          .main-container .more-readings .readings-left .item-container figure figcaption {
            float: right;
            color: #6b6666;
            font-size: 12px; }
          .main-container .more-readings .readings-left .item-container figure img {
            width: 100%; }
        .main-container .more-readings .readings-left .item-container a {
          text-decoration: none;
          color: #333;
          font-size: 12px;
          margin-top: 10px; }
          .main-container .more-readings .readings-left .item-container a h3 {
            margin-bottom: 3px; }
        .main-container .more-readings .readings-left .item-container span {
          color: #6b6666; }
    .main-container .more-readings .most-popular {
      padding: 0 30px 25px 20px; }
      .main-container .more-readings .most-popular ul {
        list-style: none;
        padding: 0 13px; }
        .main-container .more-readings .most-popular ul li {
          margin: 0;
          list-style: none;
          padding: 20px 0;
          border-top: 3px solid #d1d1d1;
          /* stylelint-disable */
          /* stylelint-enable */ }
          .main-container .more-readings .most-popular ul li a {
            text-decoration: none;
            color: #333;
            font-size: 15px; }
  .main-container section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* stylelint-disable */ }
    .main-container section:nth-of-type(2) {
      /* stylelint-disable */
      /* stylelint-enable */ }
      .main-container section:nth-of-type(2) div {
        padding: 20px 0 0 0;
        width: 45%; }
        .main-container section:nth-of-type(2) div h1 {
          font-family: "Poppins", sans-serif;
          font-size: 40px;
          font-style: italic;
          line-height: 60px; }
    .main-container section:nth-of-type(4) {
      /* stylelint-enable */ }
      .main-container section:nth-of-type(4) > div {
        width: 45%;
        margin: 30px 0 0 0; }
        .main-container section:nth-of-type(4) > div > div:nth-of-type(1) p {
          color: #333;
          font-size: 15px;
          font-weight: 600; }
        .main-container section:nth-of-type(4) > div > div:nth-of-type(2) {
          display: flex;
          justify-content: space-between; }
          .main-container section:nth-of-type(4) > div > div:nth-of-type(2) time {
            color: #6b6666;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
          .main-container section:nth-of-type(4) > div > div:nth-of-type(2) .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row; }
            .main-container section:nth-of-type(4) > div > div:nth-of-type(2) .icons span {
              background-color: #eee;
              width: 25px;
              height: 25px;
              padding: 5px;
              margin-left: 20px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row; }
            .main-container section:nth-of-type(4) > div > div:nth-of-type(2) .icons img:nth-of-type(1) {
              width: 20px;
              margin-left: 20px; }
            .main-container section:nth-of-type(4) > div > div:nth-of-type(2) .icons img:nth-of-type(2) {
              width: 40px;
              margin-left: 20px; }
  .main-container .expand {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    padding: 30px 0;
    /* stylelint-disable */
    /* stylelint-enable */ }
    .main-container .expand div {
      position: absolute; }
      .main-container .expand div:nth-of-type(1) {
        font-size: 17px;
        margin: 0 20px; }
      .main-container .expand div:nth-of-type(2) {
        right: 0;
        margin-right: 150px; }
        .main-container .expand div:nth-of-type(2) span {
          margin-right: 2em;
          font-weight: 800; }
        .main-container .expand div:nth-of-type(2) i {
          font-size: 20px;
          font-weight: 800; }
  .main-container .theory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* stylelint-disable */
    /* stylelint-enable */ }
    .main-container .theory > div {
      width: 65%;
      margin-top: 30px; }
      .main-container .theory > div .intro label {
        font-size: 19px;
        font-weight: 800; }
      .main-container .theory > div .intro p {
        font-size: 15px;
        color: #6b6666; }
      .main-container .theory > div .items {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%; }
        .main-container .theory > div .items .item {
          padding: 10px;
          box-sizing: border-box; }
          .main-container .theory > div .items .item img {
            height: 140px;
            width: 100%; }
          .main-container .theory > div .items .item p span {
            color: black;
            font-weight: 800;
            font-size: 14px; }
      .main-container .theory > div .article-footer {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 10px; }
        .main-container .theory > div .article-footer span {
          width: 130px;
          border-bottom: 3px solid black; }
        .main-container .theory > div .article-footer label {
          margin: 15px 0; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer .footer-content {
    width: 85%;
    padding: 20px 0;
    /* stylelint-disable */
    /* stylelint-enable */ }
    footer .footer-content .line {
      width: 100%;
      height: 2px;
      background-color: transparent;
      border-top: 2px solid #c5c5c5;
      border-bottom: 1px solid #c5c5c5; }
    footer .footer-content .header {
      margin: 20px 5px;
      display: flex;
      justify-content: space-between; }
      footer .footer-content .header img {
        width: 150px; }
      footer .footer-content .header a {
        font-size: 12px;
        text-decoration: none;
        color: #326891; }
    footer .footer-content .links {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding-bottom: 5px;
      border-bottom: 1px solid #c5c5c5;
      /* stylelint-disable */
      /* stylelint-enable */ }
      footer .footer-content .links .item {
        height: 400px; }
        footer .footer-content .links .item span {
          text-transform: uppercase;
          font-weight: 900;
          font-size: 13px; }
        footer .footer-content .links .item ul {
          list-style: none;
          margin: 0;
          padding: 0;
          margin-top: 10px; }
          footer .footer-content .links .item ul li {
            display: flex;
            flex-direction: row;
            padding: 2px 0; }
          footer .footer-content .links .item ul img {
            margin-right: 10px;
            height: 18px;
            width: 18px; }
          footer .footer-content .links .item ul a {
            color: black;
            text-decoration: none; }
            footer .footer-content .links .item ul a:hover {
              text-decoration: underline; }
      footer .footer-content .links .sub-item {
        padding: 0 20px;
        border-left: 1px solid #c5c5c5 !important; }
        footer .footer-content .links .sub-item .sub {
          color: black;
          font-weight: 900;
          font-size: 16px;
          margin: 4px 0; }
          footer .footer-content .links .sub-item .sub:nth-of-type(4) {
            margin-bottom: 15px; }
        footer .footer-content .links .sub-item .underline {
          margin-bottom: 10px;
          padding: 5px 0;
          border-bottom: 1px solid #c5c5c5 !important; }
        footer .footer-content .links .sub-item .sub_small {
          font-size: 12px; }
    footer .footer-content .sub-section {
      text-align: center;
      font-size: 13px;
      margin: 20px 0 60px 0;
      /* stylelint-disable */
      /* stylelint-enable */ }
      footer .footer-content .sub-section a {
        text-decoration: none;
        color: #6b6666;
        margin: 0 10px; }
        footer .footer-content .sub-section a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
