@font-face {
  font-family: 'nyt_cheltenham_cond_normal_700';
  src: url(../fonts/cheltenham-cond-normal-700.ttf);
}

@font-face {
  font-family: 'nyt_cheltenham_normal_700';
  src: url(../fonts/cheltenham-normal-700.ttf);
}

@font-face {
  font-family: 'nyt_cheltenham_normal_800';
  src: url(../fonts/cheltenham-normal-800.ttf);
}

@font-face {
  font-family: 'nyt_cheltenham_small_italic_700';
  src: url(../fonts/cheltenham-small-italic-700.ttf);
}

@font-face {
  font-family: 'nyt_cheltenham_wide_italic_400';
  src: url(../fonts/cheltenham-wide-italic-400.ttf);
}

@font-face {
  font-family: 'nyt_franklin_normal_300';
  src: url(../fonts/franklin-normal-300.ttf);
}

@font-face {
  font-family: 'nyt_franklin_normal_700';
  src: url(../fonts/franklin-normal-700.ttf);
}

@font-face {
  font-family: 'nyt_franklin_small_normal_700';
  src: url(../fonts/franklin-small-normal-700.ttf);
}

@font-face {
  font-family: 'nyt_imperial_italic_500';
  src: url(../fonts/imperial-italic-500.ttf);
}

@font-face {
  font-family: 'nyt_imperial_italic_700';
  src: url(../fonts/imperial-italic-700.ttf);
}

@font-face {
  font-family: 'nyt_imperial_italic_500';
  src: url(../fonts/imperial-normal-500.ttf);
}

@font-face {
  font-family: 'nyt_imperial_italic_700';
  src: url(../fonts/imperial-normal-700.ttf);
}
