$main_color: rgb(0, 0, 0);
$white_color: #fff;
$btns_color: #326891;
$gray_color: #f8f8f8;
$gray_color_1: #c5c5c5;
$gray_color_2: #e2e2e2;
$gray_color_3: #6b6666;
$gray_color_4: #333;
$gray_color_5: rgb(163, 163, 163);
$font_1: helvetica, arial, sans-serif;
$font_2: georgia,'times new roman',times, serif;
