$main_color: rgb(0, 0, 0);
$white_color: #fff;
$btns_color: #326891;
$gray_color: #f8f8f8;
$gray_color_1: #b9b9b9;
$font_1: helvetica, arial, sans-serif;
$font_2: georgia,'times new roman',times, serif;
